<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.delivery_app.qa.testcases.CashPageTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>DoneWithRemarkBillingIssue</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NotCollected_ComeLater</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NotColected_Paid_DeliveryBoyCash</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DoneWithRemarkDeliveryBoy</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NotCollected_Will_Pay_By_Paytm</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NotCollected_Paid_App</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NotCollected_Will_Pay_By_App</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NotCollected_Paid_SMSLink</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NotCollected_HouseLocked</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DoneWithRemarkCallToCustomer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NotCollected_Paid_NEFT</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DoneWithRemarkQualityIssue</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NotCollected_BillingIssue</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NotCollected_other</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DoneWithRemarkDonotHaveMoneyChange</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NotCollected_Paid_DeliveryBoyCheque</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>End</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
