<h2>Methods that were not run</h2><table>
<tr><td>com.delivery_app.qa.testcases.CashPageTest.DoneWithRemarkDeliveryBoy<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>to validate that cash with Delivery Boy functionality</i></td></tr>
<tr><td>com.delivery_app.qa.testcases.CashPageTest.NotCollected_ComeLater<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>to validate that Come Later functionality</i></td></tr>
<tr><td>com.delivery_app.qa.testcases.CashPageTest.NotColected_Paid_DeliveryBoyCash<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>to validate that paid by delivery boy Cash functionality</i></td></tr>
<tr><td>com.delivery_app.qa.testcases.CashPageTest.NotCollected_Will_Pay_By_App<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>to validate that Will Pay By App functionality</i></td></tr>
<tr><td>com.delivery_app.qa.testcases.CashPageTest.NotCollected_Paid_App<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>to validate that paid by App functionality</i></td></tr>
<tr><td>com.delivery_app.qa.testcases.CashPageTest.NotCollected_Will_Pay_By_Paytm<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>to validate that Will Pay By Paytm functionality</i></td></tr>
<tr><td>com.delivery_app.qa.testcases.CashPageTest.NotCollected_Paid_SMSLink<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>to validate that paid by SMS Link functionality</i></td></tr>
<tr><td>com.delivery_app.qa.testcases.CashPageTest.DoneWithRemarkCallToCustomer<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>to validate that cheque with call To Customer functionality</i></td></tr>
<tr><td>com.delivery_app.qa.testcases.CashPageTest.NotCollected_Paid_NEFT<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>to validate that paid by NEFT functionality</i></td></tr>
<tr><td>com.delivery_app.qa.testcases.CashPageTest.NotCollected_HouseLocked<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>to validate that House Locked functionality</i></td></tr>
<tr><td>com.delivery_app.qa.testcases.CashPageTest.DoneWithRemarkDonotHaveMoneyChange<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>to validate that Cheque with Do not have money change functionality</i></td></tr>
<tr><td>com.delivery_app.qa.testcases.CashPageTest.NotCollected_BillingIssue<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>to validate that Billing Issue functionality</i></td></tr>
<tr><td>com.delivery_app.qa.testcases.CashPageTest.NotCollected_other<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>to validate that Other functionality</i></td></tr>
<tr><td>com.delivery_app.qa.testcases.CashPageTest.NotCollected_Paid_DeliveryBoyCheque<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>to validate that paid by delivery boy Cheque functionality</i></td></tr>
<tr><td>com.delivery_app.qa.testcases.CashPageTest.DoneWithRemarkQualityIssue<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>to validate that Cheque with Quality Issue functionality</i></td></tr>
</table>