<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Country Delight Delivery Boy App Test Automation Suite </em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f17be2">  <td>21/03/05 15:29:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CashPageTest.setUp()[pri:0, instance:com.delivery_app.qa.testcases.CashPageTest@28f8e165]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1048332309</td>   <td></td> </tr>
<tr bgcolor="f17be2">  <td>21/03/05 15:30:20</td>   <td>26831</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CashPageTest.DoneWithRemarkBillingIssue()[pri:0, instance:com.delivery_app.qa.testcases.CashPageTest@28f8e165]">DoneWithRemarkBillingIssue</td> 
  <td>main@1048332309</td>   <td></td> </tr>
<tr bgcolor="f17be2">  <td>21/03/05 15:30:52</td>   <td>58366</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CashPageTest.End()[pri:0, instance:com.delivery_app.qa.testcases.CashPageTest@28f8e165]">&lt;&lt;End</td> 
<td>&nbsp;</td>  <td>main@1048332309</td>   <td></td> </tr>
</table>
