<h2>Methods that were not run</h2><table>
<tr><td>com.delivery_app.qa.testsuite.RegressionSuites.Not_Delivered_Customer_Side_Address_Issue<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that First move to pending section than selct any slot time thanafter select any customer then click on Not Delivered button again click on customer side button than click on address issue button and  again enter remark text than finally click on done button</i></td></tr>
<tr><td>com.delivery_app.qa.testsuite.RegressionSuites.Not_Delivered_Customer_Side_Phone_Unreachable<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that First move to pending section than selct any slot time thanafter select any customer then click on Not Delivered button again click on customer side button than click on phone unreachable  button and again enter remark text than finally click on done button</i></td></tr>
<tr><td>com.delivery_app.qa.testsuite.RegressionSuites.Not_Delivered_Customer_Side_Mulitple_Ids<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that First move to pending section than selct any slot time thanafter select any customer then click on Not Delivered button again click on customer side button than click on multiple Ids button and  again enter remark text than finally click on done button</i></td></tr>
<tr><td>com.delivery_app.qa.testsuite.RegressionSuites.Future_Hold_Button<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that First move to pending section than selct any slot time thanafter select any customer then click on Done with Remark button and click on Future hold button finally click on done button</i></td></tr>
<tr><td>com.delivery_app.qa.testsuite.RegressionSuites.VerifyNotCollected_BillingIssue<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>to validate that Billing Issue functionality</i></td></tr>
<tr><td>com.delivery_app.qa.testsuite.RegressionSuites.VerifyDoneWithRemarkForDeliveryBoy<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>to validate that cash with Delivery Boy functionality</i></td></tr>
<tr><td>com.delivery_app.qa.testsuite.RegressionSuites.starPerformancePage<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>To Validate that clicking on star performanc field</i></td></tr>
<tr><td>com.delivery_app.qa.testsuite.RegressionSuites.Not_Delivered_Customer_Side_Stop_Timing<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that First move to pending section than selct any slot time thanafter select any customer then click on Not Delivered button again click on customer side button than click on stop button and finally click on timing button</i></td></tr>
<tr><td>com.delivery_app.qa.testsuite.RegressionSuites.Future_Stop<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that First move to pending section than selct any slot time thanafter select any customer then click on Done with Remark button and click on Future stop button</i></td></tr>
<tr><td>com.delivery_app.qa.testsuite.RegressionSuites.Not_Delivered_Customer_Side_Stop_OutOfDeliveryArea<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that First move to pending section than selct any slot time thanafter select any customer then click on Not Delivered button again click on customer side button than click on stop button and finally click on  click on Out of delivery area button</i></td></tr>
<tr><td>com.delivery_app.qa.testsuite.RegressionSuites.Other_Button_and_Done_Button<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that First move to pending section than selct any slot time thanafter select any customer then click on Done with Remark button and click on other button and enter text thanafter click on done button</i></td></tr>
<tr><td>com.delivery_app.qa.testsuite.RegressionSuites.VerifyNotCollected_Will_Pay_By_Paytm<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>to validate that Will Pay By Paytm functionality</i></td></tr>
<tr><td>com.delivery_app.qa.testsuite.RegressionSuites.delivery_Done_with_Remark_Future_Qty_Change<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that First move to pending section than selct any slot time thanafter select any customer then click on Done with Remark button and click on Future qty change button then finally click on done button</i></td></tr>
<tr><td>com.delivery_app.qa.testsuite.RegressionSuites.Not_Delivered_Customer_Side_Hosue_Locked<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that First move to pending section than selct any slot time thanafter select any customer then click on Not Delivered button again click on customer side button than click on house locked button and again enter remark text than finally click on done button</i></td></tr>
<tr><td>com.delivery_app.qa.testsuite.RegressionSuites.Billing_Issue<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that First move to pending section than selct any slot time thanafter select any customer then click on Done with Remark button and click on billing issue button</i></td></tr>
<tr><td>com.delivery_app.qa.testsuite.RegressionSuites.verifyPaymentPage<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>verify that first click on drawer icon thanafter click on payment link</i></td></tr>
<tr><td>com.delivery_app.qa.testsuite.RegressionSuites.VerifyNotCollected_other<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>to validate that Other functionality</i></td></tr>
<tr><td>com.delivery_app.qa.testsuite.RegressionSuites.Not_Delivered_Customer_Side_Hold_Further<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that First move to pending section than selct any slot time thanafter select any customer then click on Not Delivered button again click on customer side button than click on hold button again click on Hold further button and finally click on Done button</i></td></tr>
<tr><td>com.delivery_app.qa.testsuite.RegressionSuites.Not_Delivered_Customer_Side_Stop_GoingOutOfStation<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that First move to pending section than selct any slot time thanafter select any customer then click on Not Delivered button again click on customer side button than click on stop button and finally click on Going out of station button</i></td></tr>
<tr><td>com.delivery_app.qa.testsuite.RegressionSuites.VerifyNotCollected_Paid_App<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>to validate that paid by App functionality</i></td></tr>
<tr><td>com.delivery_app.qa.testsuite.RegressionSuites.VerifyNotColectedWithPaidByDeliveryBoyCash<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>to validate that paid by delivery boy Cash functionality</i></td></tr>
<tr><td>com.delivery_app.qa.testsuite.RegressionSuites.Not_Delivered_Customer_Side_Stop_Others<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that First move to pending section than selct any slot time thanafter select any customer then click on Not Delivered button again click on customer side button than click on stop button and finally click on others button</i></td></tr>
<tr><td>com.delivery_app.qa.testsuite.RegressionSuites.Not_Delivered_Our_Side_Milk_Leakage<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that First move to pending section than selct any slot time thanafter select any customer then click on Not Delivered button again click on our side button than click on milk leakage button and again enter remark text than finally click on done button</i></td></tr>
<tr><td>com.delivery_app.qa.testsuite.RegressionSuites.VerifyDoneWithRemarkwithCashForBillingIssue<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>to validate that Cash with Billing Issue functionality</i></td></tr>
<tr><td>com.delivery_app.qa.testsuite.RegressionSuites.Not_Delivered_Customer_Side_Stop_Quality<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that First move to pending section than selct any slot time thanafter select any customer then click on Not Delivered button again click on customer side button than click on stop button and finally click on quality button</i></td></tr>
<tr><td>com.delivery_app.qa.testsuite.RegressionSuites.verifyDocumentPage<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>verify that document page</i></td></tr>
<tr><td>com.delivery_app.qa.testsuite.RegressionSuites.VerifyNotCollected_ComeLater<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>to validate that Come Later functionality</i></td></tr>
<tr><td>com.delivery_app.qa.testsuite.RegressionSuites.VerifyNotCollected_Paid_SMSLink<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>to validate that paid by SMS Link functionality</i></td></tr>
<tr><td>com.delivery_app.qa.testsuite.RegressionSuites.VerifyDoneWithRemarkwithChequeforDonotHaveMoneyChange<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>to validate that Cheque with Do not have money change functionality</i></td></tr>
<tr><td>com.delivery_app.qa.testsuite.RegressionSuites.verifyMainScreen<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>verify that main page</i></td></tr>
<tr><td>com.delivery_app.qa.testsuite.RegressionSuites.Not_Delivered_Our_Side_Milk_Product_Shortage<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that First move to pending section than selct any slot time thanafter select any customer then click on Not Delivered button again click on our side button than click on product shortage button and again enter remark text than finally click on done button</i></td></tr>
<tr><td>com.delivery_app.qa.testsuite.RegressionSuites.Not_Delivered_Our_Side_Wrong_Route<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that First move to pending section than selct any slot time thanafter select any customer then click on Not Delivered button again click on our side button than click on wrong route button and again enter remark text than finally click on done button</i></td></tr>
<tr><td>com.delivery_app.qa.testsuite.RegressionSuites.Not_Delivered_Our_Side_Route_Late<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that First move to pending section than selct any slot time thanafter select any customer then click on Not Delivered button again click on our side button than click on route late button and again enter remark text than finally click on done button</i></td></tr>
<tr><td>com.delivery_app.qa.testsuite.RegressionSuites.delivery_Done_with_Remark<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>verify that First move to pending section than selct any slot time thanafter select any customer then click on Done with Remark button then finally click on done button</i></td></tr>
<tr><td>com.delivery_app.qa.testsuite.RegressionSuites.Not_Delivered_Customer_Side_Hold_Today_Only<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that First move to pending section than selct any slot time thanafter select any customer then click on Not Delivered button again click on customer side button than click on hold button again click on Hold Today only button finally click on Done button</i></td></tr>
<tr><td>com.delivery_app.qa.testsuite.RegressionSuites.call_To_Customer<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that First move to pending section than selct any slot time thanafter select any customer then click on Done with Remark button and click on call to customer button</i></td></tr>
<tr><td>com.delivery_app.qa.testsuite.RegressionSuites.verifyScanDemandPage<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>verify that Scan demand page</i></td></tr>
<tr><td>com.delivery_app.qa.testsuite.RegressionSuites.VerifyEmergencyNumberPage<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>verify that Emergency New page</i></td></tr>
<tr><td>com.delivery_app.qa.testsuite.RegressionSuites.delivery_Done<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>verify that First move to pending section than selct any slot time thanafter select any customer then finally click on Done button</i></td></tr>
</table>