<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9298d7">  <td>22/01/25 10:32:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegressionSuites.setUp()[pri:0, instance:com.delivery_app.qa.testsuite.RegressionSuites@c20be82]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@591678006</td>   <td></td> </tr>
<tr bgcolor="9298d7">  <td>22/01/25 10:33:01</td>   <td>12616</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionSuites.penalty_Page()[pri:1, instance:com.delivery_app.qa.testsuite.RegressionSuites@c20be82]">penalty_Page</td> 
  <td>main@591678006</td>   <td></td> </tr>
<tr bgcolor="9298d7">  <td>22/01/25 10:33:12</td>   <td>23217</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegressionSuites.End()[pri:0, instance:com.delivery_app.qa.testsuite.RegressionSuites@c20be82]">&lt;&lt;End</td> 
<td>&nbsp;</td>  <td>main@591678006</td>   <td></td> </tr>
</table>
