<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Smoke</td><td>PendingPageTest.delivery_Done()[pri:0, instance:com.delivery_app.qa.testcases.PendingPageTest@62df0ff3]<br/>PendingPageTest.delivery_Done_with_Remark()[pri:1, instance:com.delivery_app.qa.testcases.PendingPageTest@62df0ff3]<br/></td></tr>
</table>
