<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Country Delight Delivery Boy App Test Automation Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f17be2">  <td>21/09/09 10:14:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PendingPageTest.delivery_Done()[pri:0, instance:com.delivery_app.qa.testcases.PendingPageTest@62df0ff3]">delivery_Done</td> 
  <td>main@1135555866</td>   <td></td> </tr>
<tr bgcolor="f17be2">  <td>21/09/09 10:14:56</td>   <td>2115</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PendingPageTest.delivery_Done_with_Remark()[pri:1, instance:com.delivery_app.qa.testcases.PendingPageTest@62df0ff3]">delivery_Done_with_Remark</td> 
  <td>main@1135555866</td>   <td></td> </tr>
</table>
