<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.delivery_app.qa.testcases.PendingPageTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Future_Qty_Change_Updating_Days_Duration</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Not_Delivered_Customer_Side_Quality_Issue</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Not_Delivered_Our_Side_Milk_Leakage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Not_Delivered_Back_Icon</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>delivery_Done</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Not_Delivered_Customer_Side_Hold_Today_Only</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Quality_Issue</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>call_To_Customer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>delivery_Done_with_Remark</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Not_Delivered_Our_Side_Wrong_Route</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Not_Delivered_Our_Side_Route_Late</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Future_Qty_Change_Update_qty_Updating_Days_Duration</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Not_Delivered_Our_Side_Out_Of_Delivery_Area</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Not_Delivered_Customer_Side_Address_Issue</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Not_Delivered_Customer_Side_Hold_Further_Change_End_Date</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Future_Hold_Button_select_End_Date</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Future_Hold_Button</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Not_Delivered_Customer_Side_Phone_Unreachable</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Not_Delivered_Customer_Side_Mulitple_Ids</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Not_Delivered_Our_Side_Milk_Short</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Not_Delivered_Customer_Side_Hold_Today_Change_Qty</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Not_Delivered_Customer_Side_Billing_Issue</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Not_Delivered_Customer_Side_Hold_Today_Change_Qty_Chnage_Day_Change_End_Date</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Billing_Issue</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Not_Delivered_Customer_Side_Hold_Further</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>delivery_Done_with_Remark_Future_Qty_Change</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Not_Delivered_Customer_Side_Hosue_Locked</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Not_Delivered_Customer_Side_Stop</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>delivery_Done_with_Remark1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Other_Button_and_Done_Button</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Future_Stop</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Not_Delivered_Customer_Side_Not_Required</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>End</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
