<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Country Delight Delivery App Test Automation Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="cee388">  <td>21/02/16 15:20:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PendingPageTest.setUp()[pri:0, instance:com.delivery_app.qa.testcases.PendingPageTest@26f3d90c]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1778994610</td>   <td></td> </tr>
<tr bgcolor="cee388">  <td>21/02/16 15:20:31</td>   <td>19649</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PendingPageTest.delivery_Done()[pri:0, instance:com.delivery_app.qa.testcases.PendingPageTest@26f3d90c]">delivery_Done</td> 
  <td>main@1778994610</td>   <td></td> </tr>
<tr bgcolor="cee388">  <td>21/02/16 15:20:47</td>   <td>35876</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PendingPageTest.End()[pri:0, instance:com.delivery_app.qa.testcases.PendingPageTest@26f3d90c]">&lt;&lt;End</td> 
<td>&nbsp;</td>  <td>main@1778994610</td>   <td></td> </tr>
</table>
