<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.delivery_app.qa.testsuite.RegressionSuites</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyNotCollected_ComeLater</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerifyDoneWithRemarkwithCashForBillingIssue</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Not_Delivered_Customer_Side_Stop_Others</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Not_Delivered_Our_Side_Milk_Leakage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerifyNotColectedWithPaidByDeliveryBoyCash</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerifyNotCollected_Paid_App</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Not_Delivered_Customer_Side_Stop_Quality</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Not_Delivered_Customer_Side_Stop_GoingOutOfStation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>delivery_Done</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerifyNotCollected_Paid_SMSLink</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Not_Delivered_Customer_Side_Hold_Today_Only</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>call_To_Customer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>delivery_Done_with_Remark</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Not_Delivered_Our_Side_Wrong_Route</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyMainScreen</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Not_Delivered_Our_Side_Milk_Product_Shortage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyScanDemandPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerifyEmergencyNumberPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Not_Delivered_Our_Side_Route_Late</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerifyDoneWithRemarkwithChequeforDonotHaveMoneyChange</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyDocumentPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Not_Delivered_Customer_Side_Address_Issue</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>starPerformancePage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerifyDoneWithRemarkForDeliveryBoy</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Future_Hold_Button</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerifyNotCollected_BillingIssue</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Not_Delivered_Customer_Side_Phone_Unreachable</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Not_Delivered_Customer_Side_Mulitple_Ids</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Billing_Issue</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Not_Delivered_Customer_Side_Hold_Further</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerifyNotCollected_Will_Pay_By_Paytm</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>delivery_Done_with_Remark_Future_Qty_Change</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Not_Delivered_Customer_Side_Hosue_Locked</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyPaymentPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Other_Button_and_Done_Button</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Not_Delivered_Customer_Side_Stop_OutOfDeliveryArea</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Future_Stop</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Not_Delivered_Customer_Side_Stop_Timing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerifyNotCollected_other</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>End</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
