<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Regression Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6b6a74">  <td>22/01/25 08:48:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegressionSuites.End()[pri:0, instance:com.delivery_app.qa.testsuite.RegressionSuites@41de5768]">&lt;&lt;End</td> 
<td>&nbsp;</td>  <td>main@1075314220</td>   <td></td> </tr>
<tr bgcolor="6b6a74">  <td>22/01/25 08:48:14</td>   <td>-31770</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegressionSuites.setUp()[pri:0, instance:com.delivery_app.qa.testsuite.RegressionSuites@41de5768]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1075314220</td>   <td></td> </tr>
<tr bgcolor="6b6a74">  <td>22/01/25 08:48:26</td>   <td>-19691</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionSuites.verifyMainScreen()[pri:0, instance:com.delivery_app.qa.testsuite.RegressionSuites@41de5768]">verifyMainScreen</td> 
  <td>main@1075314220</td>   <td></td> </tr>
</table>
