<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c4adec">  <td>22/01/07 12:13:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegressionSuites.End()[pri:0, instance:com.delivery_app.qa.testsuite.RegressionSuites@7692cd34]">&lt;&lt;End</td> 
<td>&nbsp;</td>  <td>main@2074492901</td>   <td></td> </tr>
<tr bgcolor="c4adec">  <td>22/01/07 12:14:03</td>   <td>29929</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegressionSuites.End()[pri:0, instance:com.delivery_app.qa.testsuite.RegressionSuites@7692cd34]">&lt;&lt;End</td> 
<td>&nbsp;</td>  <td>main@2074492901</td>   <td></td> </tr>
<tr bgcolor="c4adec">  <td>22/01/07 12:15:18</td>   <td>105653</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegressionSuites.End()[pri:0, instance:com.delivery_app.qa.testsuite.RegressionSuites@7692cd34]">&lt;&lt;End</td> 
<td>&nbsp;</td>  <td>main@2074492901</td>   <td></td> </tr>
<tr bgcolor="c4adec">  <td>22/01/07 12:13:45</td>   <td>12001</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionSuites.VerifyEmergencyNumberPage()[pri:1, instance:com.delivery_app.qa.testsuite.RegressionSuites@7692cd34]">VerifyEmergencyNumberPage</td> 
  <td>main@2074492901</td>   <td></td> </tr>
<tr bgcolor="c4adec">  <td>22/01/07 12:13:09</td>   <td>-23484</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegressionSuites.setUp()[pri:0, instance:com.delivery_app.qa.testsuite.RegressionSuites@7692cd34]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@2074492901</td>   <td></td> </tr>
<tr bgcolor="c4adec">  <td>22/01/07 12:13:33</td>   <td>313</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegressionSuites.setUp()[pri:0, instance:com.delivery_app.qa.testsuite.RegressionSuites@7692cd34]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@2074492901</td>   <td></td> </tr>
<tr bgcolor="c4adec">  <td>22/01/07 12:14:03</td>   <td>30358</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegressionSuites.setUp()[pri:0, instance:com.delivery_app.qa.testsuite.RegressionSuites@7692cd34]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@2074492901</td>   <td></td> </tr>
<tr bgcolor="c4adec">  <td>22/01/07 12:13:23</td>   <td>-9806</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionSuites.verifyDocumentPage()[pri:0, instance:com.delivery_app.qa.testsuite.RegressionSuites@7692cd34]">verifyDocumentPage</td> 
  <td>main@2074492901</td>   <td></td> </tr>
<tr bgcolor="c4adec">  <td>22/01/07 12:14:15</td>   <td>42247</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionSuites.verifyPendingPage()[pri:2, instance:com.delivery_app.qa.testsuite.RegressionSuites@7692cd34]">verifyPendingPage</td> 
  <td>main@2074492901</td>   <td></td> </tr>
</table>
